<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>海沃商城</title>
    <link rel="stylesheet" type="text/css" href="../build/css/style.min.css">
</head>

<body>
    <div class="header">
        <div class="fake_head">
            <div class="title"><span>&#xe667;</span>配件商城</div>
            <div class="more">&#xe60e;</div>
        </div>
        <div class="head">
            <div class="logo_img"><img src="../images/logo.png"></div>
            <div class="seek"><input type="text" placeholder="请输入您要搜索的商品">
                <div class="icon"><span>&#xe602;</span></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="carousel">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../images/banner1_02.jpg" alt="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../images/banner2_02.jpg" alt="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../images/banner3_02.jpg" alt="" />
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="hot_nav">
            <ul>
                <li>
                    <span>&#xe611;</span>
                    <p>产品类1</p>
                </li>
                <li>
                    <span>&#xe611;</span>
                    <p>产品类1</p>
                </li>
                <li>
                    <span>&#xe611;</span>
                    <p>产品类1</p>
                </li>
                <li>
                    <span>&#xe611;</span>
                    <p>产品类1</p>
                </li>
                <li>
                    <span>&#xe611;</span>
                    <p>产品类1</p>
                </li>
                <li>
                    <span>&#xe611;</span>
                    <p>产品类1</p>
                </li>
                <li>
                    <span>&#xe611;</span>
                    <p>产品类1</p>
                </li>
                <li>
                    <span>&#xe611;</span>
                    <p>产品类1</p>
                </li>
                <li>
                    <span>&#xe611;</span>
                    <p>产品类1</p>
                </li>
                <li>
                    <span>&#xe611;</span>
                    <p>产品类1</p>
                </li>
            </ul>
        </div>
    </div>
    <footer class="footer">
        <ul class="none list">
            <li>
                <div>
                    <span>&#xe638;</span>
                    <p>首页</p>
                </div>
            </li>
            <li>
                <div>
                    <span>&#xe601;</span>
                    <p>产品</p>
                </div>
            </li>
            <li class="shopping_cart">
                <div>
                    <span>&#xe6f0;</span>
                    <p>购物车</p>
                </div>
                <div class="number_cart">
                    +3
                </div>
            </li>
            <li>
                <div>
                    <span>&#xe61d;</span>
                    <p>客服</p>
                </div>
            </li>
            <li>
                <div>
                    <span>&#xe606;</span>
                    <p>我的</p>
                </div>
            </li>
        </ul>
    </footer>
</body>
<script src="../libs/jquery.min.js"></script>
<script src="../libs/swiper-3.4.1.min.js"></script>
<script src="../libs/underscore-min.js"></script>
<script src="../build/js/build.min.js"></script>
<script>
    window.onload = function () {
        var mySwiper = new Swiper('.swiper-container', {
            direction: 'horizontal',
            loop: true,
            pagination: '.swiper-pagination',
        });
    };
    $(function () {
        $(".footer").click(function () {
            methodCover.capacity("你大爷的");
            methodCover.go("./test.html",'goproject',[{name:'SB',age:100}]);
        });
    });
</script>

</html>