<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>海沃商城</title>
    <link rel="stylesheet" type="text/css" href="../build/css/style.min.css">
</head>

<body>
    <div class="pe_header">
        <div class="fake_head">
            <div class="title"><i class="icons icon-chacha"></i>个人中心</div>
            <div class="more"><i class="icons icon-more1170511easyiconnet"></i></div>
        </div>
    </div>
    <div class="pe_content bac-gary">
        <div class="user_massage">
            <div class="user_pic">
                <div class="user_img"><img src="../images/banner1_02.jpg"></div>
            </div>
            <p class="user_name"><span>张三丰</span>(18501687256)</p>
            <div class="post"><span>经销商</span></div>
        </div>
        <div class="wrap bac-white">
            <div class="total">
                <i class="icons icon-nikoqianbi"></i><span>246</span>积分
            </div>
            <div class="pe_btn">
                <span class=" color-white bac-blue">签到有奖</span>
                <span class=" color-white bac-danblue">礼品兑换</span>
            </div>
        </div>
        <div class="pe_nav bac-white">
             <ul class="none list">
                 <li>
                     <div>
                         <i class="icons icon-gouwuche color-danblue"></i>
                         <span>我的订单</span>
                     </div>
                     <div class="nav_function">
                         <span>3</span>
                         <i class="icons icon-taobaozhongchou4qizuoyoujiantou1 color-light "></i>
                     </div>
                 </li>
                <li>
                     <div>
                         <i class="icons icon-baoxiu color-danblue"></i>
                         <span>我的保修</span>
                     </div>
                     <div class="nav_function">
                         <i class="icons icon-taobaozhongchou4qizuoyoujiantou1 color-light "></i>
                     </div>
                 </li>
                                 <li>
                     <div>
                         <i class="icons icon-search color-danblue"></i>
                         <span>我的验证</span>
                     </div>
                     <div class="nav_function">
                         <i class="icons icon-taobaozhongchou4qizuoyoujiantou1 color-light "></i>
                     </div>
                 </li>
                                 <li>
                     <div>
                         <i class="icons icon-jibenziliao color-danblue"></i>
                         <span>修改资料</span>
                     </div>
                     <div class="nav_function">
                         <i class="icons icon-taobaozhongchou4qizuoyoujiantou1 color-light "></i>
                     </div>
                 </li>
                                 <li>
                     <div>
                         <i class="icons icon-ditu color-danblue"></i>
                         <span>收货地址管理</span>
                     </div>
                     <div class="nav_function">
                         <i class="icons icon-taobaozhongchou4qizuoyoujiantou1 color-light "></i>
                     </div>
                 </li>
             </ul>
        </div>
    </div>
    <footer class="pe_footer">
        <ul class="none list">
            <li onClick="methodCover.go('./home.html')">
                <div>
                    <span class="icons icon-fangwuicon"></span>
                    <p>首页</p>
                </div>
            </li>
            <li onClick="methodCover.go('./product.html')">
                <div>
                    <span class="icons icon-chanpin"></span>
                    <p>配件订购</p>
                </div>
            </li>
            <li>
                <div>
                    <span class="icons icon-dianhua"></span>
                    <p>服务报修</p>
                </div>
            </li>
            <li class="shopping_cart" onclick="methodCover.go('./personalCenter.html')">
                <div>
                    <span class="icons icon-gerenzhongxin"></span>
                    <p>个人中心</p>
                </div>
                <div class="number_cart">
                    +3
                </div>
            </li>
        </ul>
    </footer>
</body>
<script src="../libs/jquery.min.js"></script>
<script src="../libs/swiper-3.4.1.min.js"></script>
<script src="../libs/underscore-min.js"></script>
<script src="../build/js/build.min.js"></script>

</html>