<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>海沃商城</title>
    <link rel="stylesheet" type="text/css" href="../build/css/style.min.css">
</head>

<body>
    <div class="pr_header">
        <div class="fake_head">
            <div class="title"><i class="icons icon-chacha"></i>产品类</div>
            <div class="more"><i class="icons icon-more1170511easyiconnet"></i></div>
        </div>
        <div class="head">
            <div class="icon-block" onclick="methodCover.back()"><i class="icons icon-taobaozhongchou4qizuoyoujiantou"></i></div>
            <div class="seek">
                <input type="text" placeholder="请输入您要搜索的商品">
                <div class="icon header-search"><i class="icons icon-search"></i></div>
            </div>
        </div>
        <div class="column">
            <ul class="none">
                <li class="li_borderColor">最新</li>
                <li>销量</li>
                <li>
                    价格
                    <span class="icons icon-shangxiajiantouhover"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="pr_content">
        <div class="shop_list">
            <div class="single_pd">
                <div class="product_img"><img src="../images/banner1_02.jpg"></div>
                <div class="norm">
                    <span class="pd_name">产品名称</span>
                    <span class="pd_price">￥238</span>
                    <div class="pd_number">
                        <div class="chooser">
                            <span>-</span>
                            <input type="text" value="1">
                            <span>+</span>
                        </div>
                        <div class="sp_cart"><i class="icons  icon-gouwuche"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="pr_footer">
        <ul class="none list">
            <li onclick="methodCover.go('./home.html')">
                <div>
                    <i class="icons icon-fangwuicon"></i>
                    <p>首页</p>
                </div>
            </li>
            <li onclick="methodCover.go('./pdClassification.html')">
                <div>
                    <i class="icons icon-chanpin"></i>
                    <p>产品</p>
                </div>
            </li>
            <li class="shopping_cart" onclick="methodCover.go('./shoppingCart.html')">
                <div>
                    <i class="icons icon-gouwuche"></i>
                    <p>购物车</p>
                </div>
                <div class="number_cart">
                    +0
                </div>
            </li>
            <li>
                <div>
                    <i class="icons icon-dianhua"></i>
                    <p>客服</p>
                </div>
            </li>
            <li>
                <div>
                    <i class="icons icon-gerenzhongxin"></i>
                    <p>我的</p>
                </div>
            </li>
        </ul>
    </footer>
</body>
<script src="../libs/jquery.min.js"></script>
<script src="../libs/swiper-3.4.1.min.js"></script>
<script src="../libs/underscore-min.js"></script>
<script src="../build/js/build.min.js"></script>
<script src="../modules/product.js"></script>
</html>